
-------------------------------------------------------------------------------
                              system MOTD
{{ inventory_hostname|center(80) }}
-------------------------------------------------------------------------------

  OS            : {{ ansible_distribution }} {{ ansible_distribution_version }}
  Hostname      : {{ ansible_fqdn }}
  IP address    : {{ ansible_all_ipv4_addresses }}
  System type   : {{ ansible_system }}
  Processors    : {{ ansible_processor_count }}
  Total Cores   : {{ ansible_processor_cores }}
  Memory Total  : {{ ansible_memtotal_mb }} MB

-------------------------------------------------------------------------------
